<header class="header" id="site-header">
  <div class="header-container container">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 36V33H42V36H6ZM6 25.5V22.5H42V25.5H6ZM6 15V12H42V15H6Z" fill="white" />
        </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Advantages">Advantages</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Gallery">Gallery</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Features">Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#FAQ">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#Advantages">Advantages</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Gallery">Gallery</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Reviews">Reviews</a></li>
    <li><a class="menu-list-item" href="index.html#Features">Features</a></li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ</a></li>
  </ul>
</div>