.footer {
  background: #9dff0f;
}

.footer-container {
  padding: 33px 20px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #110c2c;
  text-align: left;
  margin-bottom: 18px;
}

.footer-text {
  font-size: 12px;
  color: #110c2c;
  text-align: left;
}

@media only screen and (min-width: 1439px) {
  .footer-container {
    padding: 46px 80px;
  }

  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .footer-text {
    text-align: center;
  }
}